@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    
}



:root{
    --clr: #222327;
}


.pasek{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222327;
    height: 130px;
    width: 100%;
}

.ikony{
    padding: 10px;
    display: flex;
    width: 300px;
}

.ikonka_tweeter{
    font-size: 2em;
    color: #29fd53;
    padding-left: 8px;
}

.ikonka_tweeter a{
    color: #29fd53;
}

.ikonka_instagram{
    font-size: 2em;
    color: #29fd53;
    padding-left: 8px;
}

.ikonka_instagram a{
    color: #29fd53;
}

.ikonka_facebook{
    font-size: 2em;
    color: #29fd53;
    padding-left: 8px;
}

.ikonka_facebook a{
    color: #29fd53;
}




.navigation{
    width: 500px;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 950px;
}

.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.8em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon{
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: rotateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}




.napis{
    width: 70%;
    height: 100px;
    background-image: url("https://hougumlaw.com/wp-content/uploads/2016/05/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg");
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    background-size: cover;
    margin-top: 100px;
}

p{
    position: relative;
    top: 30px;
}

.menu{
    background-image: url("https://p1.pxfuel.com/preview/410/352/849/texture-green-background-royalty-free-thumbnail.jpg");
    width: 90%;
    margin-top: 100px;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

#kawa{
    background-image: url("https://kawowy.info/wp-content/uploads/2019/01/czy-kawa-bezkofeinowa-jest-zdrowsza-jak-smakuje-rozwiewamy-watpliwosci.jpeg");
    border-radius: 20%;
    height: 200px;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 460px;
    left: 150px;
    padding: 20px;
    margin-left: 40px;
    
}


#desery{
    background-image:url("https://www.oetker.pl/Recipe/Recipes/oetker.pl/pl-pl/baking/image-thumb__51955__RecipeDetail/pyszna-szarlotka.jpg");
    border-radius: 20%;
    height: 200px;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 460px;
    left: 750px;
    padding: 20px;
    margin-left: 40px;

}



#napoje_zimne{
    background-image: url("https://cdn.galleries.smcloud.net/t/galleries/gf-Z8hW-uPr9-tG54_zimne-napoje-664x442-nocrop.jpg");
    border-radius: 20%;
    height: 200px;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 460px;
    left: 1300px;
    padding: 20px;
    margin-left: 40px;
}

#reklama{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 35px;
    letter-spacing: 2px;
    color: black;
    opacity: 0.4;
    height: 100px;
}

#tekst{
    margin-top: 250px;
    width: 80%;
    height: 400px;
    margin-left: 300px;
    display: flex;
    font-size: 20px;
    
}

#tekst2{
    margin-top: 600px;
    width: 80%;
    height: 400px;
    margin-left: 0px;
    display: flex;
    font-size: 20px;
   
}

#tekst3{
    margin-top: 800px;
    width: 80%;
    height: 400px;
    margin-left: 0px;
    display: flex;
    font-size: 20px;
    
}

h1{
    text-align: center;
    position: absolute;
    left: 575px;
    top: 1615px;
    margin-top: 230px;
    color: white;
}

p{
    
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





ol{
    list-style-type: none;
    text-align: center;
    color: white;
    margin-top: 200px;
}

.cennik{
    text-align: center;
    position: absolute;
    left: 575px;
    top: 2340px;
    color: white;
    margin-top: 230px;
    
}

.cennik_napoje{
    text-align: center;
    position: absolute;
    left: 500px;
    top: 3015px;
    color: white;
}

.ol{
    margin-left: 20px;
}


.tlo{
    width: 100%;
    background-color: #0b1c29;;
    height: 1800px;
    
}

.desery_napis{
    margin-top: 60px;
    color: white;
}

.cena_deserow{
    margin-top: 60px;
    color: white;
}

.podpisy_produktow{
    position: relative;
    display: flex;
    top: -80px;
}

.podpis1{
    height: 50px;
    width: 100px;
    font-size: 22px;
    color: white;
    position: relative;
    left: 334px;
}

.podpis2{
    height: 50px;
    width: 100px;
    font-size: 22px;
    color: white;
    left: 850px;
}

.podpis3{
    height: 50px;
    width: 200px;
    font-size: 22px;
    color: white;
    left: 1260px;
}


table {
    border-collapse: collapse;
    width: 60%;
    position: absolute;
    margin-top: 100px;
    
  }
  
  thead th {
    padding: 2px;
    text-align: left;
    border-bottom: 2px solid rgb(104, 15, 116);
    color: white;
    background-color: rgb(2, 7, 48)
  }
  tbody td {
    padding: 2px;
    text-align: left;
    color: white;
  }

 

  
  tr:nth-child(odd){background-color: #15171b;}
  
  tr:nth-child(even){background-color:  #0e6e21}
  
  thead { border-bottom: 1px solid: rgb(123,65,21);}

  
.table2{
    margin-top: 300px;
    border-collapse: collapse;
    width: 60%;
    position: absolute
}

.thead2  {
    padding: 2px;
    text-align: left;
    border-bottom: 2px solid rgb(104, 15, 116);
    color: white;
    background-color: rgb(2, 7, 48)
  }

  .tbody2  {
    padding: 2px;
    text-align: left;
    color: white;
  }


  

  .table3{
    margin-top: 700px;
    border-collapse: collapse;
    width: 60%;
    position: absolute
}

.thead3  {
    padding: 2px;
    text-align: left;
    border-bottom: 2px solid rgb(104, 15, 116);
    color: white;
    background-color: rgb(2, 7, 48)
  }

  .tbody3  {
    padding: 2px;
    text-align: left;
    color: white;
  }

